<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{817,1},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1089,1},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1361,1},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1633,1},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,223},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{273,223},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{545,223},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{817,223},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1089,223},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1361,223},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1633,223},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,445},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{273,445},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{545,445},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{817,445},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1089,445},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1361,445},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1633,445},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,667},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{273,667},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{545,667},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{817,667},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1089,667},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1361,667},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1633,667},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,889},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{273,889},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{545,889},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{817,889},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1089,889},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1361,889},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1633,889},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,1111},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{273,1111},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{545,1111},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{817,1111},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1089,1111},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1361,1111},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1633,1111},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,1333},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{273,1333},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{545,1333},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{817,1333},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1089,1333},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1361,1333},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1633,1333},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,220}</string>
                <key>textureRect</key>
                <string>{{1,1555},{270,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>neko.png</string>
            <key>size</key>
            <string>{1904,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a744bef50b64ce60edbacffce0c17744:daa995220e8d6198ace134d1e24a6453:b8a126a3cbd7f9cbcaf9f3dd7fc40891$</string>
            <key>textureFileName</key>
            <string>neko.png</string>
        </dict>
    </dict>
</plist>
